aiodns==2.0.0
aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.1.0
beautifulsoup4==4.9.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
gevent==1.4.0
greenlet==0.4.15
grequests==0.5.0
idna==2.9
lxml==4.5.0
maxminddb==1.5.2
multidict==4.7.5
progress==1.5
proxybroker==0.3.2
pudb==2019.2
pycares==3.1.1
pycparser==2.20
Pygments==2.6.1
PySide2==5.14.1
pywin32==227
requests==2.23.0
shiboken2==5.14.1
soupsieve==2.0
tqdm==4.43.0
urllib3==1.25.8
urwid==2.1.0
yarl==1.4.2
