pip==19.0.3
Pygments==2.6.1
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
idna==2.9
lxml==4.5.0
pip==19.0.3
progress==1.5
pudb==2019.2
pywin32==227
requests==2.23.0
setuptools==40.8.0
soupsieve==2.0
tqdm==4.43.0
urllib3==1.25.8
urwid==2.1.0
pytest==4.3.0
pytest-cov==2.6.1
coveralls==1.6.0